<form  action="/campgrounds/<%= campground._id%>/comments" method="POST">
    <div class="form-group">
        <textarea class="form-control" rows="5" name="comment[text]"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block">New Comment</button>
    </div>
</form>